/packages/server/poetry.lock
/packages/server/*/*/__pycache__
/packages/server/*/*/*/__pycache__
/packages/server/*/__pycache__
/packages/server/*/*/__pycache__
/packages/server/*/*/*/*/__pycache__
node_modules/
.idea/
pnpm-lock.yaml

